<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>联系我们</string>
		<key>details</key>
		<array>
			<dict>
				<key>title</key>
				<string>微信公众号</string>
				<key>type</key>
				<string>0</string>
				<key>value</key>
				<string>openWeChat</string>
			</dict>
			<dict>
				<key>title</key>
				<string>问题反馈</string>
				<key>type</key>
				<string>0</string>
				<key>value</key>
				<string>sendMail</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>协议隐私</string>
		<key>details</key>
		<array>
			<dict>
				<key>title</key>
				<string>用户协议</string>
				<key>type</key>
				<string>1</string>
				<key>value</key>
				<string>/docs/terms_of_use.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>隐私政策</string>
				<key>type</key>
				<string>1</string>
				<key>value</key>
				<string>/docs/privacy_policy.html</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>软件信息</string>
		<key>details</key>
		<array>
			<dict>
				<key>title</key>
				<string>软件评分</string>
				<key>type</key>
				<string>1</string>
				<key>value</key>
				<string>http://www.baidu.com</string>
			</dict>
			<dict>
				<key>title</key>
				<string>软件分享</string>
				<key>type</key>
				<string>1</string>
				<key>value</key>
				<string>http://www.baidu.com</string>
			</dict>
			<dict>
				<key>title</key>
				<string>软件更新</string>
				<key>type</key>
				<string>1</string>
				<key>value</key>
				<string>http://www.baidu.com</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
